<%= render 'shared/header' %>

<div class='category_container'>
  <div class= 'category_links'>
    <% @grade_links.each do |grade| %>
      <%=link_to grade.name, grade_path(grade)%>
    <% end %>
  </div>
</div>

<div class='post-container'>
  <div class='post-index'>
    <div class='title'>
      <%= "#{@grade.name}の一覧"%>
      <%if @posts.present?%>
        <ul class='post-lists'>
          <% @posts.each do |post| %>
            <%= render 'post' ,post: post %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @posts %>

<%= render 'shared/footer' %>