<div class='sub-mainvisual'>
  <h1>マイページ</h1>
</div>

<div class="user__wrapper">
  <h2 class="page-heading">
    <%= "#{@user.nickname}  のプロフィール"%>
  </h2>
  <div class='user-info'>
    <div class='user-info01'>
      <div class="user_icon">
        <% if @user.avatar.present? %>
        <%= image_tag @user.avatar, class:'user_show-icon' %>
        <% else %>
        <%= image_tag'user_show.png', class:'user_show-icon' %>
        <% end %>
      </div>
      <div class='edit-info'>
        <% if current_user.id == @user.id && user_signed_in? %>
          <%= link_to 'プロフィールの編集',edit_user_path(@user.id),class:'user-edit' %> 
          <%= link_to 'いいねした投稿', likes_user_path(@user.id),class:'user-likes'%> 
        <% end %>
      </div>
    </div>
    <div class='user-info02'>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">ニックネーム</th>
            <td class="table__col2"><%= "#{@user.nickname}" %></td>
          </tr>
          <tr>
            <th class="table__col1">勤務都道府県</th>
            <td class="table__col2"><%= "#{@user.prefecture.name}" %></td>
          </tr>
          <tr>
            <th class="table__col1">勤務年数</th>
            <td class="table__col2"><%= "#{@user.career.name}" %></td>
          </tr>
          <tr>
            <th class="table__col1">得意教科</th>
            <td class="table__col2"><%= "#{@user.favorite_subject.name}" %></td>
          </tr>
          <tr>
            <th class="table__col1">自己紹介文</th>
            <td class="table__col2"><%= safe_join(@user.introduction.split("\n"),tag(:br))%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h2 class="page-heading">
    <%= "#{@user.nickname}さんの板書一覧"%>
  </h2>
  <div class="main_contents">
    <div class='main'>
      <div class="post-contents">
        <ul class='post-lists'>
          <% @posts.each do |post| %>
            <%= render 'posts/post' ,post: post %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>