<header class='top-page-header'>
  <div class='header-left'>
    <%= link_to image_tag('logo.png',class:"kokubank-icon"), '/'%>
  </div>
  <div class='header-right'>
    <div class='search-box'>
      <%= render 'posts/search' %>
    </div>
    <%=link_to "カテゴリで探す",grades_path %>
    
  <% if user_signed_in? %>
    <% if current_user.avatar.present? %>
      <%= link_to image_tag(current_user.avatar.url), user_path(current_user.id),class:'user-icon' %>
    <% else %>
      <%= link_to image_tag('noavatar.png'), user_path(current_user.id),class:'user-icon' %>
    <% end %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <%= link_to '投稿する',new_post_path %>
  <% else %>  
    <%= link_to 'ログイン', new_user_session_path %>
    <%= link_to '新規登録', new_user_registration_path %>
  <% end %>
  </div>
</header>