<li class='list',id ='post_<%= post.id %>'>
  <%= link_to post_path(post.id)  do %>
    <div class='post-info'>
      <div class='post-title'>
        <%= post.class_name%>
      </div>
      <%= image_tag post.image,class:'post-img' %>
      <div class='post-name'>
        <%= post.user.nickname%>
      </div>
      <div id = 'like_<%= post.id %>'>
        <%= render partial: 'likes/like', locals: {post: post} %>
      </div>
    </div>
  <% end %>
</li>