<%= render 'shared/header' %>

<div class='main'>
  <div class='top-wrapper'>
    <%# メインメッセージ %>
    <div class="main-message">
      <h1>WELCOME TO KOKUBANK.</h1>
      <p>KOKUBANKは板書写真の共有アプリです</p>
      <p>先生方の黒板をのぞきに行きましょう。</p>
      <%=link_to "カテゴリで探す",grades_path %>
    </div>
  </div>
  <%# 検索フォ %>
  <%# 投稿一覧 %>
  <div class="post-contents">
    <h2 class='title'>ラインナップ</h2>
    <div class="subtitle">
      新規投稿
    </div>
    <ul class='post-lists'>
      <% @posts.each do |post| %>
        <%= render 'post' ,post: post %>
      <% end %>
    </ul>
  </div>
  <%# 投稿一覧 %>
</div>
<%= paginate @posts %>
<%= render 'shared/footer' %>