<%= render 'shared/header' %>

<div class='main'>
  <%# メインメッセージ %>
  <div class="main-message">
    <h1>KOKUBANKへようこそ!</h1>
    <h2>先生方の黒板をのぞきに行きませんか?</h2>
    <p>＃KOKUBANKは板書写真の共有アプリです＃</p>
  </div>
  <%# 投稿一覧 %>
  <div class="post-contents">
    <h2 class='title'>ラインナップ</h2>
    <div class="subtitle">
      新規投稿黒板
    </div>
    <ul class='post-lists'>
      <% @posts.each do |post| %>
        <li class='list'>
          <%= link_to '#'  do %>
            <div class='post-img-content'>
              <%= image_tag post.image,class:'post-img' %>
            </div>
            <div class='post-info'>
              <h3 class='post-name'>
                <%= post.class_name %><%= post.user.nickname %>
              </h3>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# 投稿一覧 %>
</div>

<%= render 'shared/footer' %>