<div class="container">
  <h5 class="results-title"><i class="fas fa-poll-h fa-2x my-orange"></i>検索結果一覧</h5>
    <%=form_with model: @post, url: posts_search_path, method: :get, local: true do |f|%>
      <%= f.select :keyword,[['新着順', 'new'],['人気順', 'likes']] %>
      <%= f.submit %>
    <% end %>
    <div class="results">
      <% if @results.length !=0 %>
        <% @results.each do |result| %>
          <div class="result-group">
            <%= link_to post_path(result.id), class: "result-link" do%>
            <div class="card-posts">
              <%= image_tag result.image, class:"card-img" %> 
                <div class="card-body">
                  <h5 class="card-title"><%= result.class_name %></h5>
                  <h5 class="card-username"><%= result.user.nickname %></h5>
                </div>
            </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <h5 class="alert">該当する投稿はありません！</h5>
      <% end %>
    </div>
</div>
