<!DOCTYPE html>
<html>
  <head>
    <title>KOKUBANK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stykesheet" href="resposive.css" />
    <meta name="viewport" content="width=devise-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/225323dfa5.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <div class='wrap'>
      <%= render 'shared/header' %>
      <div class='contents'>
        <%= yield %>
        <%= render 'shared/footer' %>
      </div> 
    </div>
  </body> 
</html>
